

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: brown;
    text-align: center;
    padding: 35px;
    color: aliceblue ;
 }
 #imagen{
    margin-top: 75px;
    width: 280px;
    height: 280px;
  }  
  .datos{

    background-color: lightsalmon;
    text-align: center;
  }
  .imagen1{

    width: 250px;
    height: 250px;
  }
 
 .imagen2{
  width: 250px;
  height: 220px;
 }
   .info{

    background-color: bisque;
   }

   #contacto{
    margin-top: 85px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline; 
   }
   .contenedor{
    text-align: center;
    border-radius: 15px;
    margin:  auto ;
    background-color:rgb(192, 138, 117);
    margin-top: 100px;
    width: 222px;
    height: 350px;
    border: solid 5px;
    
   }
   #boton{

    margin-top: 2px;
    background-color: cadetblue;
   width:170px ;
    height: 45px;
   }
   #input{
    text-align: center;
    margin: 10px;
   
   }#parrafo1{

      font-size: x-large
      
   }
   footer{

    margin-top: 15px;
    width: 335px;
   }
   #pie{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
  
    
   

   
   

    
    
  
 

  



 
 
  
 
 #boton{
  padding:5px ;
  width:185px;
  margin-top: 5px;
  background-color: brown;
   text-align: center;
    
 }

 
 




 
  

 
 

 